div.xfnFriendInfoBox {
	text-align: left;
	z-index: 100000;
	border: 1px solid #000;
	background-color: #FFFFE1;
	color: #000;
	min-width: 15em;
	font-size: 0.9em;
	padding: 0.5em;
	}

div.xfnFriendInfoBox h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	}

div.xfnFriendInfoBox ul {
	margin: 0;
	padding-left: 2em;
	}

div.xfnFriendInfoBox ul li {
	margin: 0;
	}

a.xfnRelationship {
	padding-right: 26px;
	background: url(../images/xfn-small.png) no-repeat right center;
	}

a.xfnRelationship[rel~="colleague"],
a.xfnRelationship[rel~="co-worker"] {
	padding-right: 21px;
	background: url(../images/xfn-colleague.png) no-repeat right center;
	}

a.xfnRelationship[rel~="colleague"][rel~="met"],
a.xfnRelationship[rel~="co-worker"][rel~="met"] {
	padding-right: 26px;
	background: url(../images/xfn-colleague-met.png) no-repeat right center;
	}

a.xfnRelationship[rel~="friend"] {
	padding-right: 21px;
	background: url(../images/xfn-friend.png) no-repeat right center;
	}

a.xfnRelationship[rel~="friend"][rel~="met"] {
	padding-right: 26px;
	background: url(../images/xfn-friend-met.png) no-repeat right center;
	}

a.xfnRelationship[rel~="sweetheart"] {
	padding-right: 21px;
	background: url(../images/xfn-sweetheart.png) no-repeat right center;
	}

a.xfnRelationship[rel~="sweetheart"][rel~="met"] {
	padding-right: 26px;
	background: url(../images/xfn-sweetheart-met.png) no-repeat right center;
	}

a.xfnRelationship[rel~="child"] {
	padding-right: 21px;
	background: url(../images/xfn-child.png) no-repeat right center;
	}

a.xfnRelationship[rel~="parent"] {
	padding-right: 21px;
	background: url(../images/xfn-parent.png) no-repeat right center;
	}

a.xfnRelationship[rel~="spouse"] {
	padding-right: 21px;
	background: url(../images/xfn-spouse.png) no-repeat right center;
	}

a.xfnRelationship[rel~="me"] {
	padding-right: 21px;
	background: url(../images/xfn-me.png) no-repeat right center;
	}