<?xml version="1.0" encoding="utf-8" ?>
<!-- Add these settings to your web.config. -->
<configuration>
	<configSections>
		<section requirePermission="false" name="Softwareschmiede.DasBlog.Macros.Audioscrobbler" type="Softwareschmiede.DasBlog.Macros.Audioscrobbler.ConfigSectionHandler, Softwareschmiede.DasBlog.Macros" />
	</configSections>

	<location path="." inheritInChildApplications="false">
		<system.web>
			<authentication mode="Forms">
				<!-- NOTE: If you want to run MULTIPLE dasBlogs on the SAME Domain Name
				include the path in each blog's Web.Config like path="/dasblog1" and path="/yoursite"
				as appropriate. -->

				<forms name=".DASBLOGAUTH" protection="All" timeout="129600" slidingExpiration="true" path="@blog.virtualdirectory@" cookieless="UseCookies" />
			</authentication>
		</system.web>

		<newtelligence.DasBlog.Macros>
			<add macro="Audioscrobbler" type="Softwareschmiede.DasBlog.Macros.Audioscrobbler.Macros, Softwareschmiede.DasBlog.Macros"/>
			<add macro="jforsythe" type="jforsytheMacros.jforsythe, jforsytheMacros"/>
		</newtelligence.DasBlog.Macros>

		<Softwareschmiede.DasBlog.Macros.Audioscrobbler>
			<add setting="UserName" value="@vendor.lastfm.name@"/>
			<add setting="RequestTimeout" value="5000"/>
		</Softwareschmiede.DasBlog.Macros.Audioscrobbler>
	</location>
</configuration>